

/*fyrir minni síma*/
@media (max-width: 480px) {
  .image-gallery {
    height: 250px;
  }
  
  .image-container.image-left,
  .image-container.image-center,
  .image-container.image-right {
    width: 120px;
  }
  
  .image-container.image-left {
    left: 5%;
  }
  
  .image-container.image-right {
    right: 5%;
  }
}

/* komast á síðu vinnustaði og skóla*/
.experience-title a {
color: inherit;
transition: color 0.2s;
display: inline-block;
}

.experience-title a:hover {
color: #0066cc;
}









  
  @media (max-width: 480px) {
    .project-card {
      min-width: 250px;
      height: 350px;
    }
    
    .projects-horizontal-scroll {
      gap: 1rem;
    }
  }
  