
.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px; 
  width: calc(100% - 250px);
  transition: background-color 0.3s ease;
}


[data-theme="dark"] body {
  background-color: #121212;
  color: #f0f0f0;
}

[data-theme="dark"] .main-content {
  background-color: #121212;
}