.app-container {
  display: flex;
  flex-direction: row;
}

.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: background-color 0.3s ease, margin-left 0.3s ease, width 0.3s ease;
}

/* breyta fyrir mobile view*/
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
}